@font-face {
   font-family: 'sword_art_online_font_by_p4wizard_d5sugud';
   font-display: swap;
   src: url('file:///C:/Users/hr030/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-13_082115/fonts/sword_art_online_font_by_p4wizard_d5sugud/font.ttf');
}
